# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.
1. Python
1. R
1. SQL
1. JAVA

**Objectives:**
- List popular languages for Data Science
- List popular open source tools for Data Science
- List popular commercial tools for Data Science

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
1. PyTorch
1. SciPy
1. SciKit-Learn

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
num_hour = 200 // 60
print(num_hour)

3

## Author
Hieu Bui-Van